<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">
        <app-personajes [personajes]="personajes">

        </app-personajes>
    </div>

    <div class="col">
        <h3>Agregar <small>{{nuevo.nombre}}</small></h3>
        <hr>
        <form (submit)="agregar()">
            <input 
                type="text" 
                placeholder="Nombre"
                name="nombre" 
                [(ngModel)] ="nuevo.nombre"
            />
            <input 
                type="number" 
                placeholder="Poder" 
                name="poder" 
                [(ngModel)] ="nuevo.poder"
            />
            <button type="submit">Agregar</button>
        </form>
    </div>

</div>

