<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">
        <h3>Personajes</h3>
        <hr>
        <ul>
            <li *ngFor="let personaje of personajes">
                {{ personaje.nombre}} - {{personaje.poder | number}}    
            </li>
        </ul>
    </div>

    <div class="col">
        <h3>Agregar <small>{{nuevo.nombre}}</small></h3>
        <hr>
        <form (submit)="agregar()">
            <input 
                type="text" 
                placeholder="Nombre"
                name="nombre" 
                [(ngModel)] ="nuevo.nombre"
            />
              <!--
                [value]="nuevo.nombre"
                (input)="cambiarNombre( $event)"
            -->
            <input 
                type="number" 
                placeholder="Poder" 
                name="poder" 
                [(ngModel)] ="nuevo.poder"
            />
            <button type="submit">Agregar</button>
        </form>
    </div>

</div>

