<div class="d-flex">
  <!--Sidebar-->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">
      Gifs-App
    </h3>
    <hr class="text-light">
    <div class="list-group list-reset">
      <a href="#"
        class="list-group-item list-group-item-action">
        Dashboard
      </a>
    </div>
  </div>
  <!--End sidebar-->
  <!--Dashboard-->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar</h5>
        <input type="text" class="form-control" placeholder="Buscar Gifs">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto porro recusandae omnis quod ratione dolore modi pariatur voluptas nulla. Nobis voluptatum debitis architecto quidem sunt corrupti tenetur nemo suscipit facere.
      </div>
    </div>
  </div>
  <!--End Dashboard-->
</div>